<!DOCTYPE html>

<html>

    <head>

        <title>ScoreBox Football</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/main.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">

    </head>

    <body>

        <div id="build-tag">
            {{version}}
        </div>

        <div id="header-chrome">
            <img src="/static/img/logo-white.png" height="50px">
            <h1>Football</h1>
            <img src="/static/img/football_icon.svg" height="25px">
            <h2>{{home_name}} vs {{visitor_name}}</h2>
            <div id="status-indicator">
                STATUS: <span id="status" class="error">DISCONNECTED</span>
            </div>
        </div>

        <div id="overlay-dashboard" class="dash-contents">
            <h3>Overlay Preview</h3>
            <p>
                Preview of the live overlay and realtime data feed.
            </p>
            <iframe src="/overlay"></iframe>
            <div class="raw-data">
                <div class="raw-data-item">
                    <div class="raw-data-header">Home Score</div>
                    <div class="raw-data-content" id="raw-home-score">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Visitor Score</div>
                    <div class="raw-data-content" id="raw-visitor-score">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Home Timeouts</div>
                    <div class="raw-data-content" id="raw-home-timeouts">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Visitor Timeouts</div>
                    <div class="raw-data-content" id="raw-visitor-timeouts">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Home Possesion</div>
                    <div class="raw-data-content" id="raw-home-possesion">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Visitor Possesion</div>
                    <div class="raw-data-content" id="raw-visitor-possesion">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Game Clock</div>
                    <div class="raw-data-content" id="raw-clock">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Play Clock</div>
                    <div class="raw-data-content" id="raw-play">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Quarter</div>
                    <div class="raw-data-content" id="raw-quarter">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Down</div>
                    <div class="raw-data-content" id="raw-down">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">To Go</div>
                    <div class="raw-data-content" id="raw-to-go">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Ball On</div>
                    <div class="raw-data-content" id="raw-ball-on">n/a</div>
                </div>
                <div class="raw-data-item">
                    <div class="raw-data-header">Flag</div>
                    <div class="raw-data-content" id="raw-flag">n/a</div>
                </div>
            </div>
        </div>

        <div id="touchdown-dashboard" class="dash-contents">
            <h3>Touchdown Animations</h3>
            <p>
                Trigger touchdown animations.
            </p>
            <div id="touchdown-buttons">
                <button id="home-touchdown-btn" class="btn">{{home_name}} {{home_mascot}} Touchdown</button>
                <button id="visitor-touchdown-btn" class="btn">{{visitor_name}} {{visitor_mascot}} Touchdown</button>
            </div>
        </div>

        <div id="flag-dashboard" class="dash-contents">
            <h3>Flags</h3>
            <p>
                Control penalty flag context, override console flag data, and assign team penalty indicators.
            </p>
            <div id="flag-controls">
                <div class="toggle-container three">
                    <div class="toggle-prompt">
                        Flag Indicator
                    </div>
                    <button class="toggle" id="toggle-flag-off">Off</button>
                    <button class="toggle" id="toggle-flag-on">On</button>
                    <button class="toggle toggled" id="toggle-flag-console">Console Controlled</button>
                </div>
            </div>
        </div>

        <script src="/static/third-party/socket.io.min.js"></script>
        <script src="/static/admin.js"></script>
    </body>

</html>